/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --display-none: block;
  --accent-color: #ff0070;
  --current-color: #ff0070;
  --dark-text-color: #000028;
  --section-text-color: #f1b2ce;
  --content-bgc-color: #000028;
  --border-color-hover: rgba(255, 0, 112, 40%);
  --title-accent-color: #db00ff;
  --background-image: url("../images/cover-image-dark.png");
}
