/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --display-none: none;
  --header__title-accent-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --menu-text: #353430;
  --header__text-accent-color: #353430;
  --section__text: #353430;
  --content-bgc-color: #fff1f7;
  --border-color-hover: #32312d66;
  --background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --display-none: none;
    --header__title-accent-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --menu-text: #353430;
    --section__text: #353430;
    --header__text-accent-color: #353430;
    --content-bgc-color: #fff1f7;
    --border-color-hover: #32312d66;
    --background-image: url("../images/cover-image-light.png");
  }
}
