.page {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 100vh;
  padding: 10px;
}

.header__decorated-text {
  right: 1px;
  position: absolute;
  display: var(--display-none);
}

.header__decorated-text::after {
  content: "";
  display: block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  position: absolute;
  top: 18px;
  right: 19px;
}

.header__decorated-text::before {
  content: "REC";
  display: block;
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  color: var(--menu-text);
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  line-height: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-text);
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--border-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--menu-text);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--header__title-accent-color);
  text-shadow: 4px 4px var(--accent-color);
  align-self: end;
}

.header__text {
  background-color: var(--accent-color);
  color: var(--header__text-accent-color);
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
}

.content {
  background-color: var(--content-bgc-color);
  display: grid;
  grid-template-columns: minmax(min(375px, 100%), 1fr);
  padding: 40px 10px 40px 10px;
  gap: 50px;
}

.section__title {
  color: var(--menu-text);
  line-height: 23.4px;
  padding-block-end: 20px;
  font-size: 18px;
  font-weight: 700;
}

.section__subtitle {
  color: var(--header__text-accent-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section__subtitle-wrap .section__text:not(:last-child) {
  padding-block-end: 20px;
}

.section__text {
  color: var(--section__text);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.section__text-link {
  text-decoration: none;
  display: inline-block;
  height: 19px;
  padding-inline-end: 2px;
  border: 1px solid transparent;
  line-height: 12px;
  text-shadow: 2px 2px var(--accent-color);
}

.section__text-link:hover {
  border-block-end: 1px solid var(--menu-text);
}

.section__text-link:focus-visible {
  outline: none;
  border: 1px solid var(--menu-text);
}

.medium__section-subtitle-wrap {
  display: grid;
  gap: 20px;
}

.large__section .section__subtitle {
  font-weight: 400;
}

.large__section .accent {
  font-weight: 700;
  margin-block-end: 20px;
}

.section__images-container {
  display: grid;
  grid-template-columns: minmax(min(375px, 100%), 1fr);
}

.section__images-wrap {
  display: grid;
  gap: 10px;
}

.section__img {
  display: block;
  max-width: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 100vh;
  padding-inline: 10px;
  background-color: var(--content-bgc-color);
}

.decorated-zone {
  position: relative;
  z-index: 1;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  height: 25px;
  width: 25px;
  display: block;
  border: 1px solid transparent;
  position: absolute;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
  border-color: var(--accent-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
  border-color: var(--accent-color);
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--header__title-accent-color);
  text-shadow: 4px 4px #ff0070;
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header__theme-menu {
    align-self: end;
    justify-self: end;
  }

  .header__decorated-text::after {
    /* * */
    top: 28px;
    right: 29px;
  }

  .header__decorated-text::before {
    /* REC */
    top: 20px;
    right: 48px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .header__title {
    align-self: center;
    margin-inline-start: -13px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    align-self: center;
    justify-self: end;
    max-width: 364px;
  }

  .small__section,
  .large__section {
    display: flex;
    gap: 20px;
  }

  .medium__section .section__title {
    max-width: 236px;
  }

  .content {
    gap: 80px;
    padding: 60px 20px 60px 20px;
  }

  .section__title {
    min-width: 236px;
  }

  .section__images-container .section__subtitle {
    margin-block-end: 20px;
  }

  .section__images-wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    height: 100%;
    object-fit: cover;
    grid-area: ice-cream;
  }

  .tape {
    height: 100%;
    object-fit: cover;
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    width: 100%;
    grid-area: street;
  }

  .footer {
    display: grid;
    grid-template-columns: minmax(min(375px, 100%), 1fr);
    padding-inline: 20px;
    margin-block-start: 0px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: auto;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    align-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    align-self: center;
    max-width: 491px;
    max-height: 71px;
  }

  .medium__section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section__title {
    min-width: 315px;
  }

  .medium__section-subtitle-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
