.page {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  background-image: var(--background-image);
  background-color: var(--content-bgc-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__decorated-text {
  right: 1px;
  position: absolute;
  display: var(--display-none);
}

.header__decorated-text::after {
  content: "";
  display: block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  position: absolute;
  top: 18px;
  right: 19px;
}

.header__decorated-text::before {
  content: "REC";
  display: block;
  position: absolute;
  top: 10px;
  right: 38px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  margin-block-start: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  list-style-type: none;
}

.header__theme-menu-button {
  color: var(--current-color);
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  line-height: 18px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--current-color);
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--border-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--current-color);
}

.header__title {
  font-size: var(--logo-size);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--title-accent-color);
  text-shadow: 4px 4px var(--accent-color);
  align-self: center;
}

.header__text {
  background-color: var(--accent-color);
  color: var(--dark-text-color);
  font-weight: 700;
  line-height: 23.4px;
  margin-block-start: 43px;
  align-self: start;
}

.content {
  display: grid;
  grid-template-columns: minmax(min(375px, 100%), 1fr);
  padding: 40px 10px 40px 10px;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--current-color);
  line-height: 23.4px;
  font-size: 18px;
  font-weight: 700;
}

.section__subtitle {
  color: var(--dark-text-color);
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section-article__wrap {
  display: grid;
  gap: 10px;
}

.section__text {
  color: var(--section-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.section__text-link {
  text-decoration: none;
  display: inline-block;
  height: 19px;
  padding-inline-end: 2px;
  border: 1px solid transparent;
  line-height: 12px;
  text-shadow: 2px 2px var(--accent-color);
}

.section__text-link:hover {
  border-block-end: 1px solid var(--section-text-color);
}

.section__text-link:focus-visible {
  outline: none;
  border: 1px solid var(--section-text-color);
}

.advices-section .section__subtitle {
  font-weight: 400;
}

.advices-section .accent {
  font-weight: 700;
}

.section__images-container {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(min(375px, 100%), 1fr);
}

.section__images-wrap {
  display: grid;
  gap: 10px;
}

.section__img {
  display: block;
  max-width: 100%;
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
  z-index: 1;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  height: 25px;
  width: 25px;
  display: block;
  border: 1px solid transparent;
  position: absolute;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
  border-color: var(--current-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
  border-color: var(--current-color);
}

.footer__title {
  font-size: var(--logo-size);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--title-accent-color);
  text-shadow: 4px 4px #ff0070;
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header__theme-menu {
    align-self: start;
    margin-block-start: 172px;
    justify-self: end;
  }

  .header__decorated-text::after {
    /* * */
    top: 28px;
    right: 29px;
  }

  .header__decorated-text::before {
    /* REC */
    top: 20px;
    right: 48px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .header__title {
    align-self: center;
    margin-inline-start: -20px;
    font-size: var(--logo-size);
  }

  .header__text {
    margin-block-start: 50px;
    justify-self: end;
    max-width: 364px;
  }

  .why-section,
  .advices-section {
    display: flex;
  }

  .causes-section .section__title {
    max-width: 236px;
  }

  .content {
    gap: 80px;
    padding: 60px 20px 60px 20px;
  }

  .section__title {
    min-width: 236px;
  }

  .section__images-container {
    gap: 20px;
  }

  .section__images-wrap {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    height: 100%;
    object-fit: cover;
    grid-area: ice-cream;
  }

  .tape {
    height: 100%;
    object-fit: cover;
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    width: 100%;
    grid-area: street;
  }

  .footer {
    display: grid;
    grid-template-columns: minmax(min(375px, 100%), 1fr);
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    margin-block-start: 0px;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    align-self: center;
  }

  .header__text {
    margin-block-start: 58px;
    max-width: 491px;
  }

  .section__title {
    min-width: 315px;
  }

  .causes-section__wrap {
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
  }
}
